body{
  background-color: pink;
}


h4{
  text-align: center;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

a{
  border: 2px solid black;
  padding:10px;
  margin-top: 20%;
  text-decoration: none;
  text-align: center;
}
a:hover{
  text-decoration: none;
  color:red;
  background-color: transparent;
}
img{
  margin-top: 10%;
}
.container{
  margin-top: 5%;

}
